@import url(fontiran.css);
html {
    background-image: linear-gradient(125deg, rgb(18,181,121),rgb(111,211,121));
    min-height: 100%;
}

hr {
    border-bottom-width: 0px;
    border-top-width: 1pt;
}

body {
    margin-left: 15pt;
    margin-right: 15pt;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    width: 260pt;
    display: block;
    margin-top: 88pt;
    margin-bottom: 110pt;
}

#cross {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5em;
    width: 150pt;
}

#box {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60pt;
    border-radius: 31pt;
    max-width: 625pt;
    min-height: 500pt;
    background-color: white;
    box-shadow: 10.4pt 12.5pt 28.4pt 0.2pt rgba(113,124,128,0.34);
}

#status {
    font-size: 36pt;
    font-family: IRANSans !important;
    text-align: center;
    margin-top: 24pt;
    background: rgb(206,30,76);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#footer {
    color: white;
    font-size: 30pt;
    font-weight: 100;
    letter-spacing: -0.34pt;
    padding: 74pt;
    text-align: center;
    font-family: IRANSans !important;
}

#footer-caption {
    font-weight: 400;
    font-size: 47pt;
    letter-spacing: -0.45pt;
}